
// http://colorschemedesigner.com/

backlog_color = LightGray

red_color    = darken(#FF3366, 20%) 
orange_color = darken(#FF9933, 10%)
blue_color   = darken(#0099FF, 20%)
green_color  = darken(#00BB33, 20%)

light_red_color    = lighten(red_color,    25%)
light_orange_color = lighten(orange_color, 35%)
light_blue_color   = lighten(blue_color,   35%)
light_green_color  = lighten(green_color,  25%)

lightest_red_color    = lighten(red_color,    85%)
lightest_orange_color = lighten(orange_color, 65%)
lightest_blue_color   = lighten(blue_color,   65%)
lightest_green_color  = lighten(green_color,  85%)

done_color    = White


