
.dashboard
    display table
    font-size 0.5em
    margin 0 auto
    table
        border-spacing 0px
        tr
            vertical-align top
    .center
        margin 0 auto
        padding 0
    