
@import "centered"

table
    border-spacing 0px
    border-collapse separate
    tr
        vertical-align top
        td
            padding 0

.dashboard
    display table
    font-size 0.5em
    centered()
    