<template name="dashboard">
  <div class="dashboard">
    <table>
      <tr>
        <td>{{> team red   }}</td>
        <td>{{> team orange}}</td>
        <td>{{> team blue  }}</td>
        <td>{{> team green }}</td>
      </tr>
    </table>
  </div>

  <table>
    <tr>
      <td><div class="red    team">{{> roll}}</div></td>
      <td><div class="orange team">{{> roll}}</div></td>
      <td><div class="blue   team">{{> roll}}</div></td>
      <td><div class="green  team">{{> roll}}</div></td>
    </tr>
    <tr>
      <td><div class="red    team">{{> dice red   }}</div></td>
      <td><div class="orange team">{{> dice orange}}</div></td>
      <td><div class="blue   team">{{> dice blue  }}</div></td>
      <td><div class="green  team">{{> dice green }}</div></td>
    </tr>
    <tr>
      <td><div class="red    team">{{> board red   }}</div></td>
      <td><div class="orange team">{{> board orange}}</div></td>
      <td><div class="blue   team">{{> board blue   }}</div></td>
      <td><div class="green  team">{{> board green   }}</div></td>
    </tr>
  </table>

</template>


