
@import "client/views/colors"
@import "client/views/variables"

.team
    .dice
        border-width 0
        border-radius border_radius_width * 4
        display inline-block
        line-height 0
        padding 0.5em
        padding-left  0.75em
        padding-right 0.75em

    &.red .dice
        background lightest_red_color
    &.orange .dice
        background lightest_orange_color
    &.blue .dice
        background lightest_blue_color
    &.green .dice
        background lightest_green_color
