
drag_drop_border_color = Black
drag_drop_border_style = dotted

.team
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // The CSS must be sufficiently specific for them to take
    // precedence over other CSS.
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Initial selection of draggable
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //
    .one:hover
        border-color drag_drop_border_color
        border-style solid
        cursor move
    
    &[data-mode='push']
        & .wip .kanban.is-done:hover
        & .upstream.portal .kanban.is-done:hover
            border-color drag_drop_border_color
            border-style solid
            cursor move

    &[data-mode='pull']
        & .wip .kanban.is-empty:hover
            border-color drag_drop_border_color
            border-style solid
            cursor move

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Once dragging starts
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //
    .ui-draggable-dragging.one    
    .ui-draggable-dragging.kanban.is-empty
    .ui-draggable-dragging.kanban.is-done  
        border-color drag_drop_border_color
        border-style drag_drop_border_style
        cursor crosshair

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Dynamically activated drop targets
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //
    .board .wip.droppable
    .board .wip .kanban.is-in-progress.droppable
    .board .downstream.portal.droppable
    .board .upstream.portal.droppable
    .board .downstream.portal .kanban.droppable
        border-color drag_drop_border_color
        border-style drag_drop_border_style

