
drag_drop_border_color = Black
drag_drop_border_style = dotted

.team
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Initial selection of draggable
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    
    & .kanban.pullable:hover
    & .kanban.pulled:hover
    & .kanban.pushable:hover
    & .kanban.pushed:hover    
        border-color drag_drop_border_color
        border-style solid
        cursor move

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Once dragging starts
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    
    .ui-draggable-dragging.kanban
        border-color drag_drop_border_color
        border-style drag_drop_border_style
        cursor crosshair

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Dynamically activated drop targets
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    
    .board .kanban.droppable
    .board .portal.droppable
        border-color drag_drop_border_color
        border-style drag_drop_border_style

