
drag_drop_border_color = Black
drag_drop_border_style = dotted

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Initial selection of draggable
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    
.kanban.pullable:hover
.kanban.pulled:hover
.kanban.pushable:hover
.kanban.pushed:hover    
    border-color drag_drop_border_color !important
    border-style solid !important
    cursor move !important

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Once dragging starts
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    
.ui-draggable-dragging.kanban
    border-color drag_drop_border_color !important
    border-style drag_drop_border_style !important
    cursor crosshair !important

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dynamically activated drop targets
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    
.kanban.droppable
.portal.droppable
    border-color drag_drop_border_color !important
    border-style drag_drop_border_style !important

