
<template name="edge">
  <div id="edge">
          
    <div id="dice">
      <table id="dice_container">
        <tr>
          <td><input type="button" value="Roll" id="roll"> &nbsp;&nbsp;</td>
          {{#each dice}}
          <td>{{> die}}</td>
          {{/each}}
        </tr>
      </table>
    </div>
  
    <div id="team" class="{{teamColor}}">
      <table>
        <tr valign="top">
          <td>{{> upstreamPortal}}</td>
          <td>      
            <div id="wip">
              <table>
                <tr>
                  <td class="quarterColumn">{{#each storiesQuarter "0"}}{{> story}}{{/each}}</td>
                  <td class="quarterColumn">{{#each storiesQuarter "1"}}{{> story}}{{/each}}</td>
                  <td class="quarterColumn">{{#each storiesQuarter "2"}}{{> story}}{{/each}}</td>
                  <td class="quarterColumn">{{#each storiesQuarter "3"}}{{> story}}{{/each}}</td>
                </tr>
              </table>
            </div>
          </td>
          <td>{{> downstreamPortal}}</td>
        </tr>
      </table>
    </div>
    
  </div>
</template>

<template name="die">
  <div class="{{color}} {{draggableOne}} {{one}}"
       data-id="{{_id}}">
  </div>
</template>

<template name="upstreamPortal">
  <div class="droppable upstream portal"
       data-from="{{teamColor}}"
       data-to="{{color}}">      
  </div>
</template>

<template name="downstreamPortal">
  <div class="droppable downstream portal"
       data-from="{{teamColor}}"
       data-to="{{color}}">      
  </div>
</template>

<template name="story">
  <div class=" {{oneDroppable}} {{kanbanColor}} kanban">   
    <div class="story"
         data-ones="{{ones}}"
         data-size="{{size}}"
         data-id="{{_id}}">
      {{#each holes}}<div class='hole'>&nbsp;</div>{{/each}}
      {{#each gaps }}<div class='todo-one'>&nbsp;</div>{{/each}}
      {{#each ones }}<div class='{{this}} done-one'>&#8226;</div>{{/each}}
    </div>
  </div>
</template>
