
fonts = Trebuchet MS, Tahoma, Verdana, Arial, sans-serif

single-bullet = '\2022'

orange-color = #FFBF00
red-color    = Red
blue-color   = Blue
green-color  = Green

droppable-border-width = 3px
droppable-border-style = dotted
droppable-border-color = Black

draggable-border-width = 3px
draggable-border-style = dotted
draggable-border-color = Black

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

body
    text-align center

#edge
    font-size 0.75em
    display table
    margin 0 auto
    
    #roll
        border-radius 8px
        font 1em fonts
        text-align center
        padding-left 0.5em
        padding-right 0.5em
        cursor pointer
        color Gray
      
    #dice
        display table-row

    #dice_container
        margin 0 auto
        padding 10px      

    .one
    .not-one
        border-radius 8px
        display inline
        padding-top 2px
        padding-right 12px
        padding-bottom 4px
        padding-left 12px
        font-size 1.2em
        color White
        border-width draggable-border-width
        border-style solid

    .one:before
    .not-one:before
        content single-bullet

    .not-one
        color DarkGray
        background DarkGray
        &.red
            border-color red-color
        &.orange
            border-color orange-color
        &.blue
            border-color blue-color
        &.green
            border-color green-color

    .one
        &.red
            background   red-color
            border-color red-color
        &.orange
            background   orange-color
            border-color orange-color    
        &.blue
            background   blue-color
            border-color blue-color
        &.green
            background   green-color
            border-color green-color

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    #team
        border-radius 8px
        padding 0.5em
        &.red
            background   red-color
            border-color red-color
        &.orange
            background   orange-color
            border-color orange-color
        &.blue
            background   blue-color
            border-color blue-color
        &.green
            background   green-color
            border-color green-color

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .portal 
        border-width droppable-border-width
        border-style solid
        border-color White 
        border-radius 4px
        width 3em
        height 18em
        background DarkGray
        &[data-to=red] 
            background red-color
        &[data-to=orange] 
            background orange-color
        &[data-to=blue] 
            background blue-color
        &[data-to=green] 
            background green-color

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    #wip
        border-radius 8px
        margin-left  0.5em
        margin-right 0.5em        
        height 40em
        background White
        & .quarterColumn
            vertical-align top
    
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .kanban 
        border-radius 12px
        border-width droppable-border-width
        border-style solid
        border-color White
        padding 8px
        margin 8px
        width 2em
        &.red
            background red-color
        &.orange
            background orange-color
        &.blue
            background blue-color
        &.green
            background green-color

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .story
        font-size 1.4em
        text-align center
        border-width 0
    
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .hole
        border-radius 8px
        border 2px dotted Gray

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .done-one
    .todo-one
        border-radius 8px
        border 2px solid Gray
        color White
  
    .todo-one
        background LightGray

    .done-one
        &.red
            background red-color
        &.orange
            background orange-color
        &.blue
            background blue-color
        &.green
            background green-color

    // - - - - - - - - - - - - - - - - Initial selection of draggable
    .draggableOne:hover
        border-width draggable-border-width
        border-style draggable-border-style
        border-color draggable-border-color

    // - - - - - - - - - - - - - - - - Once dragging starts
    .ui-draggable-dragging.one
    .ui-draggable-dragging.kanban
        border-style solid

    // - - - - - - - - - - - - - - - - Dynamically activated drop targets
    .oneDroppableYes
        border-style solid
        border-color draggable-border-color
