
single-bullet = "\2022"

orange-color = #FFBF00
red-color    = Red
blue-color   = Blue
green-color  = Green

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        
#edge
    text-align center
    font-size 0.75em
    
#edge #dice
    margin 10px

#edge .one, #edge .not-one
    border-radius 4px
    display inline
    padding-top 2px
    padding-right 14px
    padding-bottom 4px
    padding-left 14px
    font-size 1.2em
    color White

#edge .one:before, #edge .not-one:before
    content single-bullet

#edge .red.one,    #edge .red.not-one    { background: red-color;    }    
#edge .orange.one, #edge .orange.not-one { background: orange-color; }    
#edge .blue.one,   #edge .blue.not-one   { background: blue-color;   }
#edge .green.one,  #edge .green.not-one  { background: green-color;  }

#edge .red.not-one    { color: red-color;    }
#edge .orange.not-one { color: orange-color; }
#edge .blue.not-one   { color: blue-color;   }
#edge .green.not-one  { color: green-color;  }

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#edge #team
    border-radius 6px
    padding 1em
    display inline-block

#edge #team.red     { background: red-color;    border-color: red-color;    }  
#edge #team.orange  { background: orange-color; border-color: orange-color; }
#edge #team.blue    { background: blue-color;   border-color: blue-color;   }
#edge #team.green   { background: green-color;  border-color: green-color;   }

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

droppable-border-width = 6px
droppable-border-style = dashed
droppable-border-color = Gray

#edge .portal 
    border-width droppable-border-width
    border-style solid
    border-color White 
    border-radius 4px
    margin 2px
    padding 2px
    width 3em
    height 100em
    background DarkGray
    display inline-block
    
#edge div[class~=portal][data-to~=red] 
    background red-color

#edge div[class~=portal][data-to~=orange] 
    background orange-color

#edge div[class~=portal][data-to~=blue] 
    background blue-color

#edge div[class~=portal][data-to~=green] 
    background green-color
    
#edge div[class~=portal].hover 
    border-width droppable-border-width
    border-style droppable-border-style
    border-color droppable-border-color

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#edge .wip
    border-color White
    border-radius 6px
    border-width 3px
    border-style solid
    margin 2px
    padding 2px
    width 20em
    height 100em
    background White
    display inline-block
    vertical-align top
    
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    
#edge .kanban 
    border-radius 8px
    border-width droppable-border-width
    border-style droppable-border-style
    padding 8px
    margin 8px
    width 2em
    display inline-block
    vertical-align top
    
#edge .red.kanban     { background: red-color;    border-color: red-color;    }
#edge .orange.kanban  { background: orange-color; border-color: orange-color; }    
#edge .blue.kanban    { background: blue-color;   border-color: blue-color;   }
#edge .green.kanban   { background: green-color;  border-color: green-color;  }    

#edge .kanban.hover
    border-width droppable-border-width
    border-style droppable-border-style
    border-color droppable-border-color

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#edge .story, #edge .null-story
    Xborder LightGray
    Xborder-radius 8px
    Xborder-width droppable-border-width
    Xborder-style solid
    font-size 1.4em
    Xmargin 2px
    Xbackground LightGray
    text-align center
    border-width 0

#edge .story.hover, #edge .null-story.hover 
    border-width droppable-border-width
    border-style droppable-border-style
    border-color droppable-border-color

#edge .kanban .null-story 
    border-style solid
    border-width 3px
    
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#edge .done-one, #edge .todo-one
    border-radius 8px
    border 2px solid Gray    
  
#edge .todo-one { background: LightGray; }

#edge .red.kanban .done-one { background: red-color; }

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#edge .ui-draggable-dragging.one
    border 1px solid Black


