
<template name="edge">
  <div id="edge">
    <div id="dice">
      {{> dice}}
    </div>
    
    <div id="team" class="{{colour}}">        
      <div class="droppable upstream portal"
           data-from="{{colour}}"
           data-to="backlog">      
      </div>
      <div class="wip">
        {{#each stories}}
          {{> story}}
        {{/each}}
        <div class="draggable {{colour}} kanban">                
            <div class="null-story" ones="" size=""></div>
        </div>        
      </div>      
      <div class="droppable downstream portal"
            data-from="{{colour}}"
            data-to="orange">      
      </div>
    </div>
  </div>
</template>

<template name="dice">
  <div class="draggable {{colour}} one"></div>
  <div class="draggable {{colour}} one"></div>
  <div class="draggable {{colour}} one"></div>
</template>

<template name="story">
  <div class="draggable {{colour}} kanban">
      <div class="droppable story" ones="{{ones}}" size="{{size}}"></div>
  </div>
</template>
