
@import 'nib'

button-color = #996666

#home 
    margin 0 auto
    display table
    #greeting
        font-size 2.5em
        padding 0.25em
        #the
            color Red
        #kanban
            color #FFBF00   
        #ones
            color Blue
        #game
            color Green
        .arrow 
            color Gray
            font-size 0.5em
            vertical-align center
  
    input[type=button] 
        border-radius 10px
        font-size 2.5em 
        text-align center
        padding 0.4em
        cursor pointer
        background button-color
        color LightGray

    .arrow 
        color Gray
        font-size 1em
  
    input[id=gid] 
        font-size 2.5em 
        width 4em
        text-align center
        background LightGray
        color button-color

