<template name="home">
  <div class="home">
    <div>
      <table class="greeting">
        <tr>
          <td><span id="the">the</span></td>
          <td>{{> leftRightArrow}}</td>
          <td><span id="kanban">kanban</span></td>
          <td>{{> leftRightArrow}}</td>
          <td><span id="ones">ones</span></td>
          <td>{{> leftRightArrow}}</td>
          <td><span id="game">game</span></td>
        </tr>
      </table>      
      <table align="center" cellspacing="0" cellpadding="0">
        <tr align="center">
          <td><input type="button" value="start" id="start"></td>
        </tr>
        <tr align="center">
          <td>{{> downArrow}}</td>
        </tr>
        <tr align="center">
          <td><input type="text" id="gid" value=""></td>
        </tr>
        <tr align="center">
          <td>{{> upArrow}}</td>
        </tr>
        <tr align="center">
          <td>
            <div id="join_resume_review">
              <input type="button" value="join"      id="join"      disabled="disabled">
              <input type="button" value="dashboard" id="dashboard" disabled="disabled">                
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
    
  <div style="display:inline-block;">
  <div class="red die one">
    <div class="dot"> </div>
  </div>
    
  <div class="red die not-one">
    <div class="dot"> </div>
  </div>
  </div>
        
</template>

<template name="leftRightArrow">
  <div class="arrow">&harr;</div>
</template>

<template name="downArrow">
  <div class="arrow">&darr;</div>
</template>

<template name="upArrow">
  <div class="arrow">&uarr;</div>
</template>
