
@import 'nib'

#home 
  text-align center

#home #greeting 
  font-size 2em;
  color LightGray

#home .arrow 
  color LightGray

#home input[id='gid'] 
  font-family Trebuchet MS, Tahoma, Verdana, Arial, sans-serif
  font-size 2.5em
  width 4em
  margin 10px
  text-align center
  color Gray

#home input[type='button'] 
  border-radius 10px
  font-family Trebuchet MS, Tahoma, Verdana, Arial, sans-serif
  font-size 2.5em
  text-align center
  padding 0.4em
  cursor pointer

#home input[id='start_a_new_game'] 
  color Gray

#home input[id='join_an_existing_game'] 
  color Gray
