<template name="home">
  <div class="home">
    <div>
      <table class="greeting">
        <tr>
          <td><div id="push">push</div></td>
          <td><div id="me">me</div></td>
          <td><div id="pull">pull</div></td>
          <td><div id="you">you</div></td>
        </tr>
      </table>      
      <table align="center" cellspacing="0" cellpadding="0">
        <tr align="center">
          <td><input type="button" value="setup" id="setup"></td>
        </tr>
        <tr align="center">
          <td>{{> downArrow}}</td>
        </tr>
        <tr align="center">
          <td><input type="text" id="gid" value="{{gid}}"></td>
        </tr>
        <tr align="center">
          <td>
            {{> downArrow}}
            {{> downArrow}}
            {{> downArrow}}
            {{> downArrow}}
          </td>
        </tr>
        <tr align="center">
          <td>
            <div id="join-dashboard-container">
              <input type="button" value="join"      id="join"      disabled="disabled">
              <input type="button" value="dashboard" id="dashboard" disabled="disabled">                
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<template name="downArrow">
  <div class="arrow">&darr;</div>
</template>

