
@import 'nib'

fonts = Trebuchet MS, Tahoma, Verdana, Arial, sans-serif
   
#home 
  text-align center

#home #greeting 
  font-size 2em
  color LightGray

#home .arrow 
  color LightGray
  
#home input[id=gid] 
  font 2.5em fonts
  width 4em
  text-align center
  color Gray

#home input[type=button] 
  border-radius 10px
  font 2.5em fonts
  text-align center
  padding 0.4em
  cursor pointer

#home input[id=new_game] 
  color Gray

#home input[id=join_game] 
  color Gray
