<template name="home">
  <div id="home">
    <div id="greeting">
      <table>
        <tr>
          <td><span id="the">the</span></td>
          <td>{{> rightArrowTd}}</td>
          <td><span id="kanban">kanban</span></td>
          <td>{{> rightArrowTd}}</td>
          <td><span id="ones">ones</span></td>
          <td>{{> rightArrowTd}}</td>
          <td><span id="game">game</span></td>
        </tr>
      </table>
    </div>
    <div>
      <input type="button" value="start" id="start">
    </div>
    <div class="arrow">
      &darr;
    </div>  
    <div>
      <input type="text" id="gid" value="id">
    </div>
    <div class="arrow">
      &uarr;
    </div>  
    <div>
      <input type="button" value="join" id="join">
    </div>
  </div>
</template>

<template name="rightArrowTd">
  <div class="rightArrow">
    &rarr;
  </div>
</template>
