
<template name="kanban">
  <div class="{{color}} kanban {{state}}"
       data-id="{{_id}}"
       data-size="{{size}}"
       data-ones="{{onesColors}}">
    {{#each whiteGaps}}
      <div class="one-container">      
        <div class="die not-one">
          <div class="dot"></div>
        </div>
      </div>
    {{/each}}
    {{#each ones}}
      <div class="one-container">            
        <div class="{{this}} die done-one">
          <div class="dot"></div>
        </div>
      </div>
    {{/each}}
  </div>
</template>
