
@import "colors"
@import "variables"

.kanbans
    border-radius border_radius_width * 4
    border-style  solid
    border-width  drag_drop_border_width
    border-color  background_color
    display table-cell
    margin  inter-kanban-spacing
    vertical-align top
    padding 0.5em

.red .kanbans
    background red_color
.orange .kanbans
    background orange_color
.blue .kanbans
    background blue_color
.green .kanbans
    background green_color
    
