
<template name="kanban">
  <div class="{{color}} kanban {{state}}"
       data-id="{{_id}}"
       data-size="{{size}}"
       data-ones="{{onesColors}}">

    {{#each emptyGaps}}
      <div class="one-container">      
        <div class="die empty">
        </div>
      </div>    
    {{/each}}
    
    {{#each voidGaps}}
      <div class="one-container">      
        <div class="die hole"></div>
      </div>
    {{/each}}
    
    {{#each whiteGaps}}
      {{> notOne}}
    {{/each}}
    
    {{#each ones}}
      <div class="one-container">            
        <div class="{{this}} die done"></div>
      </div>
    {{/each}}
  </div>
</template>

<template name="notOne">
  <div class="one-container">      
    <div class="die not"></div>
  </div>
</template>