
@import "centered"
@import "colors"
@import "variables"

.kanban
    border-radius border_radius_width * 2        
    border-style  solid
    border-width  drag_drop_border_width
    display inline-block 
    font-size 1em
    margin 0.1em !important
    padding 0.25em
    &.pulled .size
        color background_color        
    &.in-progress .size
        color background_color
    &.red
        background   lightest_red_color
        border-color lightest_red_color
        &.pullable .size
            color lightest_red_color
        &.pushable .size
        &.pushed .size        
            color red_color                
    &.orange
        background   lightest_orange_color
        border-color lightest_orange_color
        &.pullable .size
            color lightest_orange_color
        &.pushable .size
        &.pushed .size
            color orange_color                
    &.blue
        background   lightest_blue_color
        border-color lightest_blue_color
        &.pullable .size
            color lightest_blue_color
        &.pushable .size
        &.pushed .size
            color blue_color
    &.green
        background   lightest_green_color
        border-color lightest_green_color
        &.pullable .size
            color lightest_green_color
        &.pushable .size
        &.pushed .size        
            color green_color        

.make-new-kanban
    centered()

.red.team
    .make-new-kanban input
        background red_color
        color lightest_red_color
.orange.team
    .make-new-kanban input
        background orange_color
        color lightest_orange_color
.blue.team
    .make-new-kanban input
        background blue_color
        color lightest_blue_color
.green.team
    .make-new-kanban input
        background green_color
        color lightest_green_color