
@import "client/views/colors"
@import "client/views/variables"

.team
    .kanban
        border-radius 0.75em
        border-style  solid
        border-width  drag_drop_border_width
        display inline-block
        line-height 0
        margin inter-kanban-spacing
        padding 0
        &.red
            background   red_color
            border-color red_color
        &.orange
            background   orange_color
            border-color orange_color
        &.blue
            background   blue_color
            border-color blue_color
        &.green
            background   green_color
            border-color green_color
