
<template name="kanban">
  <div class="{{color}} kanban {{state}}"
       data-id="{{_id}}"
       data-size="{{size}}"
       data-ones="{{onesColors}}">
    
    {{#each voidGaps}}
      <div class="one-container">      
        <div class="hole"></div>
      </div>
    {{/each}}
    
    {{#each whiteGaps}}
      <div class="one-container">      
        <div class="not"></div>
      </div>
    {{/each}}
    
    {{#each ones}}
      <div class="one-container">            
        <div class="{{this}} done"></div>
      </div>
    {{/each}}
  </div>
</template>
