
@import "colors"
@import "variables"

.one-container
    border-width 0
    display inline-block
    line-height 0
    margin 0
    padding 0

.dot
    border-color  white
    border-radius dot-width
    border-style  solid
    border-width  dot-width
    padding 0

.die
    border-color white
    border-radius die-border-width * 3
    border-style solid
    border-width die-border-width
    display inline-block
    margin 0.1em
    padding die-padding
    &.not-one
        background white
    &.red.one
        background   red_color
        border-color red_color
    &.orange.one
        background   orange_color
        border-color orange_color
    &.blue.one
        background   blue_color
        border-color blue_color
    &.green.one
        background   green_color
        border-color green_color
    &.one:hover
        border-color black
        border-style solid
        
.die.done-one
    border-width die-one-border-width  
    padding die-one-padding
    &.red
        background   red_color
        border-color red_color
    &.orange
        background   orange_color
        border-color orange_color
    &.blue
        background   blue_color
        border-color blue_color
    &.green
        background   green_color
        border-color green_color

.die.hole-one
    border-style dotted
    border-width die-one-border-width 
    padding die-one-padding
    &.red
        background red_color
        & .dot
            border-color red_color
    &.orange
        background orange_color
        & .dot
            border-color orange_color
    &.blue
        background blue_color
        & .dot
            border-color blue_color
    &.green
        background green_color
        & .dot
            border-color green_color

.red.kanban .die.empty-one
    background lightest_red_color
    border-color lightest_red_color
    & .dot
        border-color lightest_red_color



.red.kanban .hole-one
    border-color red_color
    & .dot
        border-color lightest_red_color
.orange.kanban .hole-one
    border-color orange_color
    & .dot
        border-color lightest_orange_color
.blue.kanban .hole-one
    border-color blue_color
    & .dot
        border-color lightest_blue_color
.green.kanban .hole-one
    border-color green_color
    & .dot
        border-color lightest_green_color

.kanban .not-one
    border-width die-one-border-width 
    background white
    border-style dotted
    padding die-one-padding

.red.kanban .not-one
    border-color red_color
.orange.kanban .not-one
    border-color orange_color
.blue.kanban .not-one
    border-color blue_color
.green.kanban .not-one
    border-color green_color
    

    
