
@import "colors"
@import "variables"

.one-container
    border-width 0
    display inline-block
    line-height 0
    margin 0
    padding 0

was_die()
    border-color white
    border-radius one-border-width * 3
    border-style solid
    border-width one-border-width
    display inline-block
    margin 0.1em
    padding one-padding
        
.done
    was_die()
    border-width one-border-width  
    padding one-padding
    &.red
        background   red_color
        border-color red_color
    &.orange
        background   orange_color
        border-color orange_color
    &.blue
        background   blue_color
        border-color blue_color
    &.green
        background   green_color
        border-color green_color

.hole
    was_die()
    border-style dotted
    border-width one-border-width 
    padding one-padding
    &.red
        background red_color
    &.orange
        background orange_color
    &.blue
        background blue_color
    &.green
        background green_color

//---------------------------------------

.kanban .empty
    was_die()

.red.kanban .empty
    background lightest_red_color
    border-color lightest_red_color

.orange.kanban .empty
    background lightest_orange_color
    border-color lightest_orange_color

.blue.kanban .empty
    background lightest_blue_color
    border-color lightest_blue_color

.green.kanban .empty
    background lightest_green_color
    border-color lightest_green_color
    
//---------------------------------------

.red.kanban .hole
    border-color red_color
.orange.kanban .hole
    border-color orange_color
.blue.kanban .hole
    border-color blue_color
.green.kanban .hole
    border-color green_color

//---------------------------------------

.kanban .not
    was_die()
    border-width one-border-width 
    background white
    border-style dotted
    padding one-padding

.red.kanban .not
    border-color red_color
.orange.kanban .not
    border-color orange_color
.blue.kanban .not
    border-color blue_color
.green.kanban .not
    border-color green_color
    
    
.red.pulled.kanban .not
    background lightest_red_color
.orange.pulled.kanban .not
    background lightest_orange_color
.blue.pulled.kanban .not
    background lightest_blue_color
.green.pulled.kanban .not
    background lightest_green_color
    
