
@import "client/views/colors"
@import "client/views/variables"
@import "nib/gradients"

.team
    & .portal 
        border-radius border_radius_width * 4
        border-style  solid
        border-width  drag_drop_border_width
        display table-cell
        vertical-align top
        width 12em
        &[data-to-team = backlog] 
            background   backlog_color
            border-color backlog_color    
        &[data-to-team = done] 
            background   done_color
            border-color done_color                
.team
    & .portal
        &.upstream
            border-bottom-left-radius 0px
            border-left-width 0px
            border-top-left-radius 0px
            padding-left 0px
        &.downstream
            border-bottom-right-radius 0px
            border-right-width 0px
            border-top-right-radius 0px
            padding-right 0px
    &.red .portal
        border-color red_color        
        &.upstream
            background linear-gradient(top, backlog_color large_stripe_gap, light_red_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
        &.downstream
            background linear-gradient(top, light_orange_color large_stripe_gap, light_red_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
    &.orange .portal
        border-color orange_color
        &.upstream
            background linear-gradient(top, light_red_color large_stripe_gap, light_orange_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
        &.downstream
            background linear-gradient(top, light_blue_color large_stripe_gap, light_orange_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
    &.blue .portal
        border-color blue_color
        &.upstream
            background linear-gradient(top, light_orange_color large_stripe_gap, light_blue_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
        &.downstream
            background linear-gradient(top, light_green_color large_stripe_gap, light_blue_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
    &.green .portal
        border-color green_color
        &.upstream
            background linear-gradient(top, light_blue_color large_stripe_gap, light_green_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
        &.downstream
            background linear-gradient(top, done_color large_stripe_gap, light_green_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height


    