
@import "client/views/colors"
@import "client/views/variables"

.team
    #roll
        border-radius border_radius_width
        color White            
        cursor pointer
        font-size 1.4em
        padding-left  0.5em
        padding-right 0.5em
        margin 0.2em
        vertical-align top
    &.red #roll
        background red_color
    &.orange #roll
        background orange_color
    &.blue #roll
        background blue_color
    &.green #roll
        background green_color
      