
<template name="team">
  <div class="{{color}} team"
       data-gid="{{gid}}">
    <table>
      <tr>
        <td colspan="3">
          {{> makeNewKanban}}
        </td>
      </tr>
      <tr>
        <td>
        {{> upstreamPortal}}
        </td>
        <td>
        {{> kanbans}}
        </td>
        <td>
        {{> downstreamPortal}}
        </td>
      </tr>
    </table>
  </div>
</template>

<template name="makeNewKanban">
  <div class="make-new-kanban">
    <input type="button" value="{{count}}"/>
  </div>
</template>

