
<template name="team">
  <div class="{{color}} team">    
      {{> roll}}
      <div class="dice">
        {{#each dice}}
          {{> die}}
        {{/each}}
      </div>    
      <div class="board">
        {{> upstreamPortal}}
        {{> wip}}
        {{> downstreamPortal}}        
      </div>    
    </div>    
  </div>
</template>

<template name="roll">
  <input type="button"
         value="roll"
         id="roll">
</template>

<template name="die">
  <div class="{{color}} die {{one}}"
       data-id="{{_id}}">
    <div class="dot"></div>    
  </div>
</template>

<template name="wip">
  <div class="wip">
    <table>
      <tr>
        <td class="kanbans-column">{{#each kanbansColumn "0"}}{{> kanban}}{{/each}}</td>
        <td class="kanbans-column">{{#each kanbansColumn "1"}}{{> kanban}}{{/each}}</td>
        <td class="kanbans-column">{{#each kanbansColumn "2"}}{{> kanban}}{{/each}}</td>
        <td class="kanbans-column">{{#each kanbansColumn "3"}}{{> kanban}}{{/each}}</td>
      </tr>
    </table>
  </div>
</template>

<template name="upstreamPortal">
  <div class="upstream portal"
       data-to-team="{{toColor}}">
    
    <!-- sliming to see why this gets a black-border        -->
    <!-- could it be because the CSS is specific on the     -->
    <!-- (correctly displayed) kanban being in the wip area -->
    <table>
      <tr>
        <td valign="top">
          <div class="{{toColor}} kanban is-empty" >   
            <div class="story" data-ones="" data-size="0" data-id="w2k45Gdw5Gu5ATvnY">
              <div class="one-container">
                <div class="{{toColor}} die done-one">
                  <div class="dot"></div>
                </div>
              </div>
              <div class="one-container">
                <div class="{{toColor}} die done-one">
                  <div class="dot"></div>
                </div>    
              </div>
            </div>
          </div>    
        </td>
      </tr>
    </table>
    
  </div>
</template>

<template name="downstreamPortal">
  <div class="downstream portal"
       data-to-team="{{toColor}}">      
  </div>
</template>

<template name="kanban">
  <div class="{{color}} kanban {{state}}"
       data-id="{{_id}}"
       data-story-size="{{storySize}}"
       data-ones="{{ones}}">
    {{#each holes}}
      <div class="one-container">      
        <div class="die hole-one">
          <div class="dot"></div>
        </div>
      </div>        
    {{/each}}
    {{#each gaps}}
      <div class="one-container">      
        <div class="die not-one">
          <div class="dot"></div>
        </div>
      </div>
    {{/each}}
    {{#each ones}}
      <div class="one-container">            
        <div class="{{this}} die done-one">
          <div class="dot"></div>
        </div>
      </div>
    {{/each}}
  </div>
</template>
