
<template name="team">
  <div class="{{color}} team">
    
      <div class="dice">
        {{> roll}}
        {{#each dice}}
          {{> die}}
        {{/each}}
      </div>
    
      <div class="board">
        {{> upstreamPortal}}
        {{> wip}}
        {{> downstreamPortal}}        
      </div>
    
    </div>    
  </div>
</template>

<template name="roll">
  <input type="button"
         class="{{color}}"
         value="roll"
         id="roll">
</template>

<template name="wip">
  <div class="wip">
    <table>
      <tr>
        <td class="stories-column">{{#each storiesColumn "0"}}{{> story}}{{/each}}</td>
        <td class="stories-column">{{#each storiesColumn "1"}}{{> story}}{{/each}}</td>
        <td class="stories-column">{{#each storiesColumn "2"}}{{> story}}{{/each}}</td>
        <td class="stories-column">{{#each storiesColumn "3"}}{{> story}}{{/each}}</td>
      </tr>
    </table>
  </div>
</template>

<template name="die">
  <div class="{{color}} die {{one}}"
       data-id="{{_id}}">
  </div>
</template>

<template name="upstreamPortal">
  <div class="upstream portal"
       data-to-team="{{toColor}}">      
  </div>
</template>

<template name="downstreamPortal">
  <div class="downstream portal"
       data-to-team="{{toColor}}">      
  </div>
</template>

<template name="story">
  <div class="{{kanbanColor}} kanban {{kanbanState}}">   
    <div class="story"
         data-ones="{{ones}}"
         data-size="{{size}}"
         data-id="{{_id}}">
      {{#each holes}}
        <div class="one-container">
          <div class="hole">&nbsp;</div>
        </div>
      {{/each}}
      {{#each gaps}}
        <div class="one-container">      
          <div class="todo-one">&nbsp;</div>
        </div>
      {{/each}}
      {{#each ones}}
        <div class="one-container">            
          <div class="{{this}} done-one">&#{{doneOne}};</div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
