
@import "colors"
@import "variables"

.team
    font-size 0.75em
    display table
    margin 0 auto        
    border-radius border_radius_width
    margin 0 auto
    padding-top  10px
    padding-left  0px
    padding-right 0px
        
.new-kanban
    text-align center

.red.team .new-kanban input
    background red_color
.orange.team .new-kanban input
    background orange_color
.blue.team .new-kanban input
    background blue_color    
.green.team .new-kanban input
    background green_color
