
@import "client/views/colors"
@import "client/views/variables"

.team
    font-size 0.75em
    display table
    margin 0 auto        
    .board
        border-radius border_radius_width
        margin 0 auto
        padding-top  10px
        padding-left  0px
        padding-right 0px
        & .kanbans-column
            vertical-align top        
        

