
@import "client/colors"
@import "nib/gradients"

border_radius_width    = 4px
drag_drop_border_color = Black
drag_drop_border_style = dotted
drag_drop_border_width = 4px
bullet                 = '\2022'
inter-kanban-spacing   = 2px
portal_stripe_height   = 8px
large_stripe_gap       = 50%
small_stripe_gap       = 50%

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.team
    font-size 0.75em
    display table
    margin 0 auto
    
    #roll
        border-radius border_radius_width
        color White            
        cursor pointer
        font-size 1.4em
        padding-left  0.5em
        padding-right 0.5em
        text-align center
    &.red #roll
        background red_color
    &.blue #roll
        background blue_color
    &.orange #roll
        background orange_color
    &.green #roll
        background green_color
      
    .dice
        display table-row
        #roll
            &.red
                background red_color
            &.blue
                background blue_color
            &.orange
                background orange_color
            &.green
                background green_color

    .center
        margin 0 auto
        padding 0
        
    .dice
    .board
        margin 0 auto
        padding 10px
                
    .one
    .not-one
        border-color  White
        border-radius border_radius_width
        border-style  solid
        border-width  drag_drop_border_width
        color White
        display inline
        font-size 1em
        padding-bottom 2px
        padding-left   4px
        padding-right  4px
        padding-top    2px

    .one:before
    .not-one:before
        content bullet

    .not-one
        background White

    .one
        &.red
            background red_color
        &.blue
            background blue_color
        &.orange
            background orange_color
        &.green
            background green_color

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .board
        border-radius border_radius_width
        padding-left  0px
        padding-right 0px        

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .portal 
        border-radius border_radius_width
        border-style  solid
        border-width  drag_drop_border_width
        display table-cell
        width 7em
        &[data-to-team = backlog] 
            background   backlog_color
            border-color backlog_color    
        &[data-to-team = red] 
            Xbackground   red_color
            Xborder-color red_color            
        &[data-to-team = blue] 
            Xbackground   blue_color
            Xborder-color blue_color
        &[data-to-team = orange]
            Xbackground   orange_color
            Xborder-color orange_color            
        &[data-to-team = green] 
            Xbackground   green_color
            Xborder-color green_color            
        &[data-to-team = done] 
            background   done_color
            border-color done_color            

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .wip
        border-radius border_radius_width
        display table-cell
        margin  inter-kanban-spacing
        padding inter-kanban-spacing        
        & .stories-column
            vertical-align top
        
    &.red
        & .wip
            background lightest_red_color
            & .kanban
                border-color lightest_red_color
    &.blue
        & .wip
            background lightest_blue_color
            & .kanban
                border-color lightest_blue_color
    &.orange
        & .wip
            background lightest_orange_color
            & .kanban
                border-color lightest_orange_color
    &.green
        & .wip
            background lightest_green_color
            & .kanban
                border-color lightest_green_color
        
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -        
    .kanban
        border-radius 8px // has to be bigger?!
        border-style  solid
        border-width  drag_drop_border_width
        margin  inter-kanban-spacing
        padding inter-kanban-spacing
        width 2em
        &.red
            background red_color
        &.blue
            background blue_color
        &.orange
            background orange_color
        &.green
            background green_color

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .story
        border-width 0
        font-size 1.4em
        text-align center
    
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .one-container
        padding 2px
        
    .hole
        border-color  White
        border-radius border_radius_width
        border-style  dotted
        border-width  2px

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .done-one
    .todo-one
        border-color  White
        border-radius border_radius_width
        border-style  solid
        border-width  2px
        color White
  
    .todo-one
        background White

    .done-one
        border-color White
        &.red
            background red_color
        &.blue
            background blue_color
        &.orange
            background orange_color
        &.green
            background green_color

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // DRAG DROP
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // The CSS must be sufficiently specific for them to take
    // precedence over the defaults above.
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Initial selection of draggable
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //
    .one:hover
    .kanban.story-is-done:hover
    .kanban.is-empty:hover
        border-color drag_drop_border_color
        border-style solid
        cursor move

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Once dragging starts
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //
    .ui-draggable-dragging.one    
    .ui-draggable-dragging.kanban.is-empty
    .ui-draggable-dragging.kanban.story-is-done  
        border-color drag_drop_border_color
        border-style drag_drop_border_style
        cursor crosshair

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Dynamically activated drop targets
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //
    .wip .kanban.story-is-in-progress.droppable
    .board .downstream.portal.droppable
    .board .upstream.portal.droppable    
        border-color drag_drop_border_color
        border-style drag_drop_border_style

.team
    &.red .portal
        border-color light_red_color        
        &.upstream
            background linear-gradient(top, backlog_color large_stripe_gap, light_red_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
        &.downstream
            background: linear-gradient(top, light_blue_color large_stripe_gap, light_red_color small_stripe_gap);
            background-size portal_stripe_height portal_stripe_height
    &.blue .portal
        border-color light_blue_color
        &.upstream
            background linear-gradient(top, light_red_color large_stripe_gap, light_blue_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
        &.downstream
            background linear-gradient(top, light_orange_color large_stripe_gap, light_blue_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
    &.orange .portal
        border-color light_orange_color
        &.upstream
            background linear-gradient(top, light_blue_color large_stripe_gap, light_orange_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
        &.downstream
            background linear-gradient(top, light_green_color large_stripe_gap, light_orange_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
    &.green .portal
        border-color light_green_color
        &.upstream
            background linear-gradient(top, light_orange_color large_stripe_gap, light_green_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height
        &.downstream
            background linear-gradient(top, done_color large_stripe_gap, light_green_color small_stripe_gap)
            background-size portal_stripe_height portal_stripe_height

.portal
    &.upstream
        border-left-width 0px
        padding-left 0px
    &.downstream
        border-right-width 0px
        padding-right 0px
        
.team .board .wip
    Xbackground black   // these are specific enough to work
    Xborder-top-left-radius 3em
    Xborder-top-right-radius 3em

    