
fonts = Trebuchet MS, Tahoma, Verdana, Arial, sans-serif

border_radius_width    = 4px
drag_drop_border_color = Black
drag_drop_border_style = dotted
drag_drop_border_width = 4px
inter-kanban-spacing   = 2px

die-one-border-width   = 0.10em
die-one-padding        = 0.55em
die-border-width       = 0.15em
die-padding            = 0.50em

portal_stripe_height   = 8px
large_stripe_gap       = 50%
small_stripe_gap       = 50%

