
<template name="workArea">
  <div class="work-area">
    <table>
      <tr>
        <td>
          <table>
          {{#each pullableKanbans}}
            <tr><td>{{> kanban}}</td></tr>
          {{/each}}            
          {{#each pushedKanbans}}
            <tr><td>{{> kanban}}</td></tr>
          {{/each}}
          </table>
        </td>
        <td>
          <table>
          {{#each pushableKanbans}}
            <tr><td>{{> kanban}}</td></tr>
          {{/each}}
          {{#each pulledKanbans}}
            <tr><td>{{> kanban}}</td></tr>
          {{/each}}
          </table>
        </td>
      </tr>
    </table>
  </div>
</template>

