
<template name="kanbans">
  <div class="kanbans">
    <table>
      <tr>
        <td>
          <table>
          {{#each pullable}}
            <tr><td>{{> kanban}}</td></tr>
          {{/each}}            
          {{#each pushed}}
            <tr><td>{{> kanban}}</td></tr>
          {{/each}}
          </table>
        </td>
        <td>
          <table>
          {{#each pushable}}
            <tr><td>{{> kanban}}</td></tr>
          {{/each}}
          {{#each pulled}}
            <tr><td>{{> kanban}}</td></tr>
          {{/each}}
          </table>
        </td>
      </tr>
    </table>
  </div>
</template>

